* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    text-align: center;
}

body {
    width: 100%;
}

.frame {
    display: flex;
}

#container {
    width: 90%;
    height: 80vh;
    margin: auto;
    padding: 5vw;
    background-color: lightcyan;
}

#sideLeft {
    width: 20%;
    flex-direction: column;
    justify-content: space-around;
}

#title {
    font-size: 3vw;
    font-weight: bold;
}

#logoUser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logoComputer, #logoUser i {
    font-size: 10vw;
}

#count {
    margin-top: 10px;
    padding: 4px;
    border: 1px solid black;
    font-size: 2vw;
}

#game {
    width: 60%;
    flex-direction: column;
    justify-content: flex-end;
}

#info {
    margin: 2vh auto;
    font-size: 2vw;
}

#board, #userItem {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

#board {
    height: 30%;
}

#computerChoice, #userChoice {
    width: 48%;
    font-size: 10vw;
}

#computerChoice {
    border: 3px solid lightcoral;
}

#userChoice {
    border: 3px solid lightgreen;
}

#userItem {
    align-items: center;
    height: 50%;
}

#userItem div {
    width: 33.3%;
    font-size: 8vw;
}

#userItem div {
    background-color: lightgreen;
}

#restart {
    width: 50%;
    height: 4vh;
    margin: auto;
    background-color: #009688;
    font-size: 2vh;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#sideRight {
    width: 20%;
    flex-direction: column;
    align-items: center;
    font-size: 2vw;
}

#sideRight i {
    margin-left: 10px;
    margin-right: 10px;
}

#history {
    width: 80%;
    height: 100%;
    padding: 5px;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    overflow: hidden;
}
